// Specific CSS for your home-page
.vl {
  border-right: 3px solid white;
  height: 100vh;
  position: fixed;
  right: 30px;
}

.back {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  transform: rotate(-90deg);
  bottom: 30vh;
  left: -35px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.back a {
  color: black;
  text-decoration: none;
  letter-spacing: 5px;

}

.back:hover {
  background-color: rgba(36, 36, 36, 0.4);
}

.back a:hover {
  color: white;
}

.dots {
  position: fixed;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  right: 33px;
}

.dot1 {
  bottom: 30vh;
}

.dot2 {
  bottom: 33vh;
}

.dot3 {
  bottom: 36vh;
}

.dot4 {
  bottom: 39vh;
}

.dot5 {
  bottom: 42vh;
}

.dot6 {
  bottom: 45vh;
}

.dot7 {
  bottom: 48vh;
}
