.footer {
  background: #E53877;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-logo img{
  width: 20vw;
}


// MEDIA QUERIES - RESPOSIVE //

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column !important;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 120px;
  }

  .footer-links {
    margin-bottom: 10px;
  }

  .footer-logo img {
    width: auto !important;
    height: 5vw !important;
    margin-bottom: 10px !important;
  }
}
