.navbar-lewagon {
  justify-content: space-between;
  background: rgba(229, 56, 119, 1);
  transition: ease 0.2s;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link {
  color: white;
  text-shadow: 2px 2px 8px #918989;
}

.nav-link:hover{
  color: #0E0000;
  text-shadow: 2px 2px 8px #3d3d3d;
}

/* scrolling state */
.navbar.fixed-top {
  position: sticky;
  top: 0;
  width: 100%;
  /* scrolling colors */
  background-color: black;
}
