.nosotros {
  background: rgba(255, 255, 255, 0.15);
  height: 85vh;
  display: flex;
}

.nosotros .container {
  align-self: center;
  padding-left: 60px;
  padding-right: 60px;
}

.nosotros h1 {
  margin: 0;
  color: #E53877;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 50px;
}

.nosotros p {
  font-size: 20px;
  color: #0E0000;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 24px;
}

.nosotros a {
  margin-top: 30px;
}

.nosotros a:hover {
  background: black;
  color: white;
}

.numeros {
  background: black;
  height: 65vh;
  padding: 30px 0;
  margin-top: 10px;
  display: flex;;
}

.numeros .container {
  align-self: center;
  padding-left: 60px;
  padding-right: 60px;
}

.numeros h2 {
  margin-bottom: 35px;
}

.numeros h4 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  margin-bottom: 30px;
}

.numeros span {
  color: $pink;
}

// animated line

.line {
  height: 4px;
  background: #E53877;
  margin-bottom: 52px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
}

#line_l{
  animation: line_l_animation 3s infinite;
}

@keyframes line_l_animation {
    0%   {left: calc(2% + 50px); width: 0px;}
    50%   {left: calc(2% + 0px); width: 60%;}
    100%   {left: calc(2% + 0px); width: 0px;}
}
