.servicios {
  background: #F2F2F2;
  padding: 50px 0;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servicios-text {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.servicios h2 {
  margin: 0;
  color: $gray !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}

.servicios h2:after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  height: 4px;
  width:50px;
  border-radius: 2px;
  background-color: $pink;;
}

.servicios p {
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.servicios h3 {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 26px;
}

.servicios-card {
  background: rgba(0, 0, 0, 0.44);
  border-radius: 5px;
  height: 63vh;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 24px;
  width: 90%;
}

.servicios a {
  margin-top: 30px;
}

.container-servicios {
  width: 83vw;
  margin: 0 auto;
  height: 81vh;
  display: flex;
}

/* Style the tab */
.tab {
  /* overflow: hidden; */
  /* background-color: #f1f1f1; */
  border-radius: 5px;
  height: 78vh;
  display: grid;
  /* padding: 15px; */
  width: 35vw;
  justify-items: center;
  margin: 0 auto;
  // padding-top: 27px;
  align-items: center;
}

.tablinks {
  height: 130px;
  width: 186px;
}

.column-servicios {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-self: baseline;
}

.column-servicios span {
  color: $pink;
  height: 50px;
  margin-bottom: 10px;
}

.column-servicios p {
  color: black;
  font-size: 15px;
  margin-top: 9px;
  text-shadow: none;
  opacity: 1;
}

.row-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.column-servicios span:hover {
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tab button.active span {
  color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}


// MEDIA QUERIES - RESPOSIVE //

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
  .tabcontent p {
    font-size: 16px;
  }

  .tablinks {
    width: 130px;
  }

  .servicios-card {
    padding: 13px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .servicios {
    height: 125vh;
  }

  .container-servicios {
    height: 100vh;
  }

  .container-servicios .text-center {
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    width: 79vw;
    height: 100vh;
  }

  .tablinks {
    width: 120px;
  }

  .tab {
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    margin-bottom: 9vh;
  }

  .servicios-text {
    justify-content: center;
  }

  .servicios-card {
    height: 50vh;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .servicios {
    height: 220vh;
  }

  .tab {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0;
    height: auto;
  }

  .container-servicios {
    height: auto;
  }

  .container-servicios .text-center {
    height: 190vh;
  }

  .row-servicios {
    margin-bottom: 12px;
  }

  .servicios-card {
    height: 90vh;
  }
}
